In [4]:
import numpy as np 
import pandas as pd 
import datetime
import os

In [5]:
def dateparse (time_in_secs):    
    return datetime.datetime.fromtimestamp(float(time_in_secs))

In [7]:
data = pd.read_csv('bitfinexUSD.csv.gz', parse_dates=True, date_parser=dateparse, index_col=[0])

In [9]:
data.head()

                     93.250000000000  12.671482050000
1364767668
2013-03-31 18:07:49             93.3        80.628518
2013-03-31 18:08:13            100.0        20.000000
2013-03-31 18:08:14            100.0         1.000000
2013-03-31 18:08:16            100.0         5.900000
2013-03-31 18:08:19            100.0        29.833879

In [10]:
data.tail()

                     93.250000000000  12.671482050000
1364767668
2016-12-22 07:43:17           853.40         2.431919
2016-12-22 07:43:17           853.48         0.077000
2016-12-22 07:43:17           853.48         0.118000
2016-12-22 07:43:17           853.48         1.500000
2016-12-22 07:43:18           853.48         0.119000